*{
  margin: 0;
  font-family: Arial, sans-serif;
}
body{
  background-color: black;
}
.title {
  text-align: center;
  justify-content: center;
  margin: 100px 0 0 0;
  color: #FFF4EA;
  font-family: Arial, sans-serif;
}
.title h6 {
  color: grey;
  margin: 10px 0;
}

.card{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}
.catalogue{
  border-radius: 10px;
}
