*{
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}
.title {
  text-align: center;
  justify-content: center;
  margin: 200px 0 0 0;
  color: #FFF4EA;
  font-family: Arial, sans-serif;
}
